<!DOCTYPE html>				
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
	.myheader {
		background-color: #800080;
		color: #fff;
		margin-bottom: 15px;
	}
  </style>
 </head>
 <body>
	 <div class='container-fluid myheader'>
	    <h3>My Reporter Admin</h3>
		<p>To edit, add, delete news and poll items</p>
	</div>
	<div class='container'>
		<div class="panel panel-primary">
			<!-- Single button -->
			<div class='panel-heading'>
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Headlines <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="#">Polls</a></li>
				  </ul>
				</div>
			</div>
			<div class="panel-body">
				<ul class="list-group newslist">
				</ul>
				<ul class="list-group polllist">
				  <li class="list-group-item">Cras justo odio</li>
				  <li class="list-group-item">Dapibus ac facilisis in</li>
				  <li class="list-group-item">Morbi leo risus</li>
				  <li class="list-group-item">Porta ac consectetur ac</li>
				</ul>
				<div>
					<div style='float:left'>
						<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-chevron-left'></span></button>
					</div>
					<div style='float:right'>
						<button type='button' class='btn btn-default'><span class='glyphicon glyphicon-chevron-right'></span></button>
					</div>
					<p style='clear:both; height:0px;'></p>
				</div>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class="panel panel-default">
		  <div class="panel-body">
			<form method='POST' action='javascript:handleSubmit()' id='myform'>
				<div class='form-group'>
				  <label>Headline</label>
					<input type="text" class="form-control" placeholder="Headline" id='header'/>
				</div>
				<div class='form-group'>
					<label>Details</label>
					<TextArea class="form-control" placeholder="Details" id='detail' rows='5'></textarea>
				</div>
				<div class='form-group'>
					<label>Media Type</label>
					<div class='radio'>
						<label class='radio-inline'>
							<input type="radio" name='mediatype' value='Image'> Image
						</label>
						<label class='radio-inline'>
							<input type="radio" name='mediatype' value='Video'> Video
						</label>
					</div>
				</div>
				<div class='form-group'>
				  <label>Media source</label>
					<input type="text" class="form-control" placeholder="https://www.google.com" id='mediasource'/>
				</div>
				<div class='form-group'>
				  <label>Source</label>
					<input type="text" class="form-control" placeholder="Source" id='source'/>
				</div>
				<div class='form-group'>
				  <label>Published</label>
					<input type="date" class="form-control"  id='published'/>
				</div>
			  <div class='form-group'>
				  <label>Active</label>
				  <div class='radio'>
					<label class='radio-inline'>
						  <input type="radio" name='active' value='true'> Yes
					  </label>
					<label class='radio-inline'>
						  <input type="radio" name='active' value='false'> No
					  </label>
				  </div>
			  </div>
			  <input class="btn btn-primary" type="submit" value="Submit">
			  <input class="btn btn-default" type="reset" value="Reset" onClick='javascript:resetForm()'>
			  <input type='hidden' id='_id' />
			 </form>
		  </div>
		</div>
   </div>

  <!-- JQUERY scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
  crossorigin="anonymous"></script>
  <script>
	  var items = [];
			function generateList(){
				console.log('arrived - ' + items.length);
				$('.newslist').get(0).innerHTML = '';
				for(var i=0;i<items.length;i++){
					var li = document.createElement('li');
					var a = document.createElement('a');
					a.href = "javascript:getItem('"+items[i]._id+"')";
					a.innerHTML = items[i].header;
					li.appendChild(a);
					li.className = 'list-group-item';
					$('#newslist').append(li);
				}
			}
			function loadItems () {
				$.ajax(
					{
					  url: '/news',
					  dataType: 'json',
					  cache: false,
					  success: function(data) {
						items = data;
						generateList();
					  },
					  error: function(xhr, status, err) {
						console.error('/news', status, err.toString());
					  }.bind(this)
					}
				);
			}
			var interval = {};
			function getItem(key){
				clearInterval(interval);
				for(var i=0;i<items.length;i++){
					if(items[i]._id == key){
						$('#header').get(0).value = items[i].header;
						$('#detail').get(0).value = items[i].detail;
						if(items[i].mediatype == 'image')
							$("input[name='mediatype'][value='Image']").get(0).checked = true;
						else
							$("input[name='mediatype'][value='Video']").get(0).checked = true;
						$('#mediasource').get(0).value = items[i].mediasource;
						$('#source').get(0).value = items[i].source;
						var mydate = new Date(items[i].published);
						var month = mydate.getMonth()+1;
						$('#published').get(0).value = mydate.getFullYear() + '-' + (month < 10 ? '0'+ month:month) + '-' + mydate.getDate();
						if(items[i].active == true)
							$("input[name='active'][value='true']").get(0).checked = true;
						else
							$("input[name='active'][value='false']").get(0).checked = true;
						$('#_id').get(0).value = items[i]._id;
					}
				interval = setInterval(loadItems,5000);
				}
			}			
			window.onload = function () {
				interval = setInterval(loadItems, 5000);
			}
			function handleSubmit(){
				var item = {
					header: $('#header').val(),
					detail: $('#detail').val(),
					mediatype: $('#mediatype').val(),
					mediasource: $("input[name='mediasource']:checked").val(),
					source: $('#source').val(),
					published: $('#published').val(),
					active: $("input[name='active']:checked").val()
				}
				var id = $('#_id').val();
				if(id != ''){
					item._id = id;
				}
				var method = id != '' ? 'PUT' : 'POST';
				 $.ajax(
					{
					  url: '/news',
					  dataType: 'json',
					  type: method,
					  data: item,
					  success: function(data) {
						if(method == 'POST')
							console.log('Successfully saved. - ' + data.status);
						else
							console.log('Successfully updated. - ' + data.status);
						$('#myform')[0].reset();
					  },
					  error: function(xhr, status, err) {
						console.error('/news', status, err.toString());
					  }
					}
				);
			}
			function resetForm(){
				$('#myform').get(0).reset();
			}
  </script>
 </body>
</html>
