<!DOCTYPE html>				
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			.form > div {
				margin-bottom: 5px;
			}
		</style>
	</head>
	<body>
		<div style='margin: 30px'>
			<div style='float: left; min-width: 30%; height: 600px; overflow: auto;'>
				<ul id='list'>
				</ul>
			</div>
			<div style='float: left'>
				<form method='POST' action='javascript:handleSubmit()' class='form' id='myform'>
					<div><b>Header</b></div><div><input type='text' id='header' placeholder='header'/></div>
					<div><b>Detail</b></div><div><textarea id='detail' placeholder='detail' rows='10' col='50'></textarea></div>
					<div><b>Media Type</b></div><div>
						<select id='mediatype' width='30'>
							<option value=''>Select</option>
							<option value='video'>Video</option>
							<option value='image'>image</option>
						</select>
					</div>
					<div><b>Media Source</b></div><div><input type='text' id='mediasource' placeholder='image / video link'/></div>
					<div><b>Source</b></div><div><input type='text' id='source' placeholder='Source'/></div>
					<div><b>Published</b></div><div><input type='date' id='published'/></div>
					<div><b>Active</b></div><div>
						<input type='radio' name='active' value='true'/>True&nbsp;
						<input type='radio' name='active' value='false'/>False&nbsp;
					</div>
					<div><input type='submit' value='Submit'/></div>
				</form>
			</div>
		</div>
		
		<!-- JQUERY scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type='text/javascript'>
			function handleSubmit(){
				var item = {
					header: $('#header').val(),
					detail: $('#detail').val(),
					mediatype: $('#mediatype').val(),
					mediasource: $('#mediasource').val(),
					source: $('#source').val(),
					published: $('#published').val(),
					active: $("input[name='active']:checked").val()
				}
				 $.ajax(
					{
					  url: '/news',
					  dataType: 'json',
					  type: 'POST',
					  data: item,
					  success: function(data) {
						console.log('Successfully saved - id - ' + data._id);
						$('#myform')[0].reset();
					  },
					  error: function(xhr, status, err) {
						console.error('/news', status, err.toString());
					  }
					}
				);
			}
			var items = [];
			function generateList(){
				for(var i=0;i<items.length;i++){
					var li = document.createElement('li');
					var a = document.createElement('a');
					a.href = 'javascript:getItem()';
					a.innerHTML = items[i].header;
					li.appendChild(a);
					$('#list').append(li);
				}
			}
			function getItem(){
				console.log('got it');
			}
			function loadItems () {
				$.ajax(
					{
					  url: '/news',
					  dataType: 'json',
					  cache: false,
					  success: function(data) {
						items = data;
						generateList();
					  },
					  error: function(xhr, status, err) {
						console.error('/news', status, err.toString());
					  }.bind(this)
					}
				);
			}
			window.onload = function () {
				setInterval(loadItems, 1000);
			}
		</script>
	</body>
</html>
				
