<!DOCTYPE html>				
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			.form > div {
				margin-bottom: 5px;
			}
		</style>
	</head>
	<body>
		<div style='margin: 30px'>
			<div style='float: left; min-width: 30%; height: 600px; overflow: auto;'>
				<ul id='list'>
				</ul>
			</div>
			<div style='float: left'>
				<form method='POST' action='javascript:handleSubmit()' class='form' id='myform'>
					<div><b>Header</b></div><div><input type='text' id='header' placeholder='header'/></div>
					<div><b>Detail</b></div><div><textarea id='detail' placeholder='detail' rows='10' col='50'></textarea></div>
					<div><b>Media Type</b></div><div>
						<select id='mediatype' width='30'>
							<option value=''>Select</option>
							<option value='video'>Video</option>
							<option value='image'>image</option>
						</select>
					</div>
					<div><b>Media Source</b></div><div><input type='text' id='mediasource' placeholder='image / video link'/></div>
					<div><b>Source</b></div><div><input type='text' id='source' placeholder='Source'/></div>
					<div><b>Published</b></div><div><input type='date' id='published'/></div>
					<div><b>Active</b></div><div>
						<input type='radio' name='active' value='true'/>True&nbsp;
						<input type='radio' name='active' value='false'/>False&nbsp;
					</div>
					<div>
						<input type='hidden' id='_id'/>
						<input type='submit' value='Submit'/>
					</div>
				</form>
			</div>
		</div>
		
		<!-- JQUERY scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type='text/javascript'>
			function handleSubmit(){
				var item = {
					header: $('#header').val(),
					detail: $('#detail').val(),
					mediatype: $('#mediatype').val(),
					mediasource: $('#mediasource').val(),
					source: $('#source').val(),
					published: $('#published').val(),
					active: $("input[name='active']:checked").val()
				}
				var id = $('#_id').val();
				if(id != ''){
					item._id = id;
				}
				var method = id != '' ? 'PUT' : 'POST';
				 $.ajax(
					{
					  url: '/news',
					  dataType: 'json',
					  type: method,
					  data: item,
					  success: function(data) {
						if(method == 'POST')
							console.log('Successfully saved.');
						else
							console.log('Successfully updated.');
						$('#myform')[0].reset();
					  },
					  error: function(xhr, status, err) {
						console.error('/news', status, err.toString());
					  }
					}
				);
			}
			var items = [];
			function generateList(){
				$('#list').get(0).innerHTML = '';
				for(var i=0;i<items.length;i++){
					var li = document.createElement('li');
					var a = document.createElement('a');
					a.href = "javascript:getItem('"+items[i]._id+"')";
					a.innerHTML = items[i].header;
					li.appendChild(a);
					$('#list').append(li);
				}
			}
			function getItem(key){
				clearInterval(loadItems);
				for(var i=0;i<items.length;i++){
					if(items[i]._id == key){
						$('#header').get(0).value = items[i].header;
						$('#detail').get(0).value = items[i].detail;
						$('#mediatype').get(0).value = items[i].mediatype;
						$('#mediasource').get(0).value = items[i].mediasource;
						$('#source').get(0).value = items[i].source;
						$('#published').get(0).value = items[i].published;
						if(items[i].active == true)
							$("input[name='active'][value='true']").get(0).checked = true;
						else
							$("input[name='active'][value='false']").get(0).checked = true;
						$('#_id').get(0).value = items[i]._id;
					}
				setInterval(loadItems,5000);
				}
			}
			function loadItems () {
				$.ajax(
					{
					  url: '/news',
					  dataType: 'json',
					  cache: false,
					  success: function(data) {
						items = data;
						generateList();
					  },
					  error: function(xhr, status, err) {
						console.error('/news', status, err.toString());
					  }.bind(this)
					}
				);
			}
			window.onload = function () {
				setInterval(loadItems, 5000);
			}
		</script>
	</body>
</html>
				
