<!DOCTYPE html>				
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
	.myheader {
		background-color: #808080;
		color: #fff;
		margin-bottom: 15px;
	}
  </style>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js'></script>
 </head>
 <body>
	 <div class='container-fluid myheader'>
	    <h3>My Reporter Admin</h3>
		<p>To edit, add, delete news and poll items</p>
	</div>
	<div class='container'>
		<div class="panel panel-primary">
			<!-- Single button -->
			<div class='panel-heading'>
				<div class="btn-group">
				  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class='main-item'></span>&nbsp;<span class='badge item-count'></span> <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><a href="javascript:toggleItems('news')">Headline</a></li>
					<li><a href="javascript:toggleItems('polls')">Polls</a></li>
				  </ul>
				</div>
				<button type='button' class='btn btn-warning' onClick='createNew()'><span class='glyphicon glyphicon-plus'></span></button>
			</div>
			<div class="panel-body">
				<ul class="list-group newslist"></ul>
				<ul class="list-group polllist"></ul>
				<div>
					<div style='float:left'>
						<button type='button' class='btn btn-default move-left' onClick='nextIndex(-1)'><span class='glyphicon glyphicon-chevron-left'></span></button>
					</div>
					<div style='float:right'>
						<button type='button' class='btn btn-default move-right' onClick='nextIndex(1)'><span class='glyphicon glyphicon-chevron-right'></span></button>
					</div>
					<p style='clear:both; height:0px;'></p>
				</div>
			</div>
		</div>
	</div>
	<div class='container newsitem'>
		<div class="panel panel-default">
		  <div class="panel-body">
			<form method='POST' action='javascript:handleSubmit()' id='myform'>
				<div class='form-group'>
				  <label>Headline</label>
					<input type="text" class="form-control" placeholder="Headline" id='header'/>
				</div>
				<div class='form-group'>
					<label>Details</label>
					<TextArea class="form-control" placeholder="Use markdown syntax  - refer https://daringfireball.net/projects/markdown/dingus - preview below." id='detail' rows='5' onkeyup='preview()'></textarea>
					<p/>
					<div class='well preview-details'></div>
				</div>
				<div class='form-group'>
					<label>Media Type</label>
					<div class='radio'>
						<label class='radio-inline'>
							<input type="radio" name='mediatype' value='Image'> Image
						</label>
						<label class='radio-inline'>
							<input type="radio" name='mediatype' value='Video'> Video
						</label>
					</div>
				</div>
				<div class='form-group'>
				  <label>Media source</label>
					<input type="text" class="form-control" placeholder="https://www.google.com" id='mediasource'/>
				</div>
				<div class='form-group'>
				  <label>Source</label>
					<input type="text" class="form-control" placeholder="Source" id='source'/>
				</div>
				<div class='form-group'>
				  <label>Published</label>
					<input type="date" class="form-control"  id='published'/>
				</div>
			  <div class='form-group'>
				  <label>Active</label>
				  <div class='radio'>
					<label class='radio-inline'>
						  <input type="radio" name='active' value='true'> Yes
					  </label>
					<label class='radio-inline'>
						  <input type="radio" name='active' value='false'> No
					  </label>
				  </div>
			  </div>
			  <input class="btn btn-primary" type="submit" value="Submit">
			  <input class="btn btn-default" type="reset" value="Reset" onClick='javascript:resetForm()'>
			  <input type='hidden' id='_id' />
			 </form>
		  </div>
		</div>
	</div>
	<div class='container pollitem'>
		<div class="panel panel-default">
			<div class="panel-body">
				<form method='POST' action='javascript:handleSubmit()' id='myformpoll'>
					<div class='form-group'>
						<label>Question</label>
						<input type="text" class="form-control" placeholder="Question?" id='question'/>

					</div>
					<div class='form-group'>
						<label>Options</label>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Option" id='option'/>
							<span class="input-group-addon"><a href='javascript:addoption()'><span class='glyphicon glyphicon-plus'></span></a></span>
						</div>
						<p></p>
						<ul class="list-group optionlist"></ul>
					</div>
					<div class='form-group'>
						<label>Active</label>
						<div class='radio'>
							<label class='radio-inline'>
								<input type="radio" name='activepoll' value='true'> Yes
							</label>
							<label class='radio-inline'>
								<input type="radio" name='activepoll' value='false'> No
							</label>
						</div>
					</div>
					<input class="btn btn-primary" type="submit" value="Submit"/>
					<input type='hidden' id='_poll_id' />
				</form>
			</div>
		</div>
	</div
   
  <!-- JQUERY scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
  crossorigin="anonymous"></script>
  <script>
	  var items = [];
	  var pollitems = [];
	  var state = {
		index: 0,
		type: 'news',
		max: 3,
		myitems: [],
		mypollitems: [],
		polloptions: []
	  };
			function generateList(){
				//console.log('arrived - ' + items.length);
				if(state.index == 0)
					nextIndex(1);
				if(state.myitems.length == 0){
					state.myitems = items.slice(((state.index-1) * state.max),(state.index*state.max));
					displayList(state.myitems);
				}
			}
			function generatePollList(){
				//console.log('arrived - ' + items.length);
				if(state.index == 0)
					nextIndex(1);
				if(state.mypollitems.length == 0){
					state.mypollitems = pollitems.slice(((state.index-1) * state.max),(state.index*state.max));
					displayList(state.mypollitems);
				}
			}
			function displayList(items){
				var type = state.type == 'news' ? '.newslist' : '.polllist';
				$(type).get(0).innerHTML = '';
				for(var i=0;i<items.length;i++){
					var li = document.createElement('li');
					var a = document.createElement('a');
					a.href = "javascript:getItem('"+items[i]._id+"')";
					a.innerHTML = state.type == 'news' ? items[i].header : items[i].question;
					li.appendChild(a);
					if(items[i].active)
						li.className = 'list-group-item';
					else
						li.className = 'list-group-item list-group-item-warning';
					$(type).append(li);
				}
			}
			function loadItems () {
				$.ajax(
					{
					  url: '/news',
					  dataType: 'json',
					  cache: false,
					  success: function(data) {
						items = data;
						generateList();
						$('.item-count').get(0).innerText = state.type == 'news' ? items.length : pollitems.length;
					  },
					  error: function(xhr, status, err) {
						console.error('/news', status, err.toString());
					  }.bind(this)
					}
				);
				$.ajax(
					{
					  url: '/poll',
					  dataType: 'json',
					  cache: false,
					  success: function(data) {
						pollitems = data;
						generatePollList();
						$('.item-count').get(0).innerText = state.type == 'news' ? items.length : pollitems.length;
					  },
					  error: function(xhr, status, err) {
						console.error('/news', status, err.toString());
					  }.bind(this)
					}
				);
			}
			var interval = {};
			function getItem(key){
				clearInterval(interval);
				if(state.type == 'news') {
					for(var i=0;i<items.length;i++){
						if(items[i]._id == key){
							$('#header').get(0).value = items[i].header;
							$('#detail').get(0).value = items[i].detail;
							if(items[i].mediatype == 'image')
								$("input[name='mediatype'][value='Image']").get(0).checked = true;
							else
								$("input[name='mediatype'][value='Video']").get(0).checked = true;
							$('#mediasource').get(0).value = items[i].mediasource;
							$('#source').get(0).value = items[i].source;
							var mydate = new Date(items[i].published);
							var month = mydate.getMonth()+1;
							$('#published').get(0).value = mydate.getFullYear() + '-' + (month < 10 ? '0'+ month:month) + '-' + mydate.getDate();
							if(items[i].active == true)
								$("input[name='active'][value='true']").get(0).checked = true;
							else
								$("input[name='active'][value='false']").get(0).checked = true;
							$('#_id').get(0).value = items[i]._id;
						}
						preview();
						$('.newsitem').show();
					}
				}
				else {
					for(var i=0;i<pollitems.length;i++){
						if(pollitems[i]._id == key){
							$('#question').get(0).value = pollitems[i].question;
							if(pollitems[i].active == true)
								$("input[name='activepoll'][value='true']").get(0).checked = true;
							else
								$("input[name='activepoll'][value='false']").get(0).checked = true;
							$('#_poll_id').get(0).value = pollitems[i]._id;
							state.polloptions = pollitems[i].options;
						}
						setoptions();
						$('.pollitem').show();
					}
				}
				interval = setInterval(loadItems,5000);
			}			
			window.onload = function () {
				interval = setInterval(loadItems, 5000);
				toggleItems(state.type);
				resetForm();
				$('.newsitem').hide();
				$('.pollitem').hide();
			}
			function toggleItems(item){
				resetForm();
				$('.newsitem').hide();
				$('.pollitem').hide();
				if(item == 'news'){
					$('.newslist').show();
					$('.polllist').hide();
				}
				else {
					$('.newslist').hide();
					$('.polllist').show();
				}
				$('.main-item').get(0).innerText = item == 'news' ? 'Headlines' : 'Polls';
				$('.item-count').get(0).innerText = item == 'news' ? items.length : pollitems.length;
				state.type = item;
				state.index = 0;
			}
			function handleSubmit(){
				var item = {};
				if(state.type == 'news'){
					item = {
						header: $('#header').val(),
						detail: $('#detail').val(),
						mediatype: $('#mediatype').val(),
						mediasource: $("input[name='mediasource']:checked").val(),
						source: $('#source').val(),
						published: $('#published').val(),
						active: $("input[name='active']:checked").val()
					};
				}
				else {
					item = {
						question: $('#question').val(),
						options: state.polloptions,
						active: $("input[name='activepoll']:checked").val()
					};
				}
				
				var id = state.type == 'news' ? $('#_id').val() : $('#_poll_id').val();
				if(id != ''){
					item._id = id;
				}
				var method = id != '' ? 'PUT' : 'POST';
				var url = state.type == 'news' ? '/news' : '/poll';
				 $.ajax(
					{
					  url: url,
					  dataType: 'json',
					  type: method,
					  data: item,
					  success: function(data) {
						if(method == 'POST')
							console.log('Successfully saved. - ' + data.status);
						else
							console.log('Successfully updated. - ' + data.status);
						resetForm();
					  },
					  error: function(xhr, status, err) {
						console.error(url, status, err.toString());
					  }
					}
				);
			}
			function preview(){
				$('.preview-details').get(0).innerHTML = markdown.toHTML($('#detail').val());
			}
			function resetForm(){
				$('.preview-details').get(0).innerHTML = '';
				$('#myform').get(0).reset();
				state.polloptions = [];
				setoptions();
				$('#myformpoll').get(0).reset();
			}
			function createNew(){
				resetForm();
				if(state.type == 'news'){
					$('.newsitem').show();
					$('.pollitem').hide();
				}
				else {
					$('.newsitem').hide();
					$('.pollitem').show();
				}
			}
			function nextIndex(incr){
				var _items = state.type == 'news'? items : pollitems;
				if((state.index + incr)*3 > _items.length)
					$('.move-right').addClass('disabled');
				else
					$('.move-right').removeClass('disabled');
				if((state.index + incr) > 1)
					$('.move-left').removeClass('disabled');
				else
					$('.move-left').addClass('disabled');
				state.index = state.index + incr;
				if(state.type == 'news'){
					state.myitems = _items.slice(((state.index-1) * state.max),(state.index*state.max));
					displayList(state.myitems);
				}
				else {
					state.mypollitems = _items.slice(((state.index-1) * state.max),(state.index*state.max));
					displayList(state.mypollitems);
				}
			}
			function addoption(){
				state.polloptions.push({
					key: Date.now(),
					data: $('#option').val()
				});
				$('#option').get(0).value = '';
				setoptions();
				
			}
			function setoptions(){
				$('.optionlist').get(0).innerHTML = '';
				for(var i=0;i<state.polloptions.length;i++){
					var li = document.createElement('li');
					li.className = 'list-group-item';
					li.innerHTML = (i+1) + ". " + state.polloptions[i].data + "<div style='float:right;>' <button type='button' class='btn btn-danger btn-xs' onClick='deleteoption(\""+ state.polloptions[i].key +"\")'> <span class='glyphicon glyphicon-trash'></span></button></div>";
					$('.optionlist').get(0).appendChild(li);
				}				
			}
			function deleteoption(key){
				for(var i=0;i<state.polloptions.length;i++){
					if(state.polloptions[i].key == key){
						state.polloptions.splice(i,1);
					}
				}
				setoptions();
			}
  </script>
 </body>
</html>
