<!DOCTYPE html>				
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Make your own news!</title>
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<Style>
		main {
			padding-top: 70px;
		}
		body {
			font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
			background-color: #fafafa; 
		}
		.demo-card {
			width: 220px;
		}
	</Style>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Opiniated</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				 <!-- Navigation -->
				<nav class="mdl-navigation">
					<!-- Expandable Textfield -->
					<form action="#">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
							<label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
								<i class="material-icons">search</i>
							</label>
							<div class="mdl-textfield__expandable-holder">
								<input class="mdl-textfield__input" type="text" id="sample6" placeholder="Search for">
								<label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
							</div>
						</div>
					</form>
				</nav>
			</div>
		</header>
		 <div class="mdl-layout__drawer">
			<span class="mdl-layout-title">Opiniated</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="">General</a>
				<a class="mdl-navigation__link" href="">Politics</a>
				<a class="mdl-navigation__link" href="">Sports</a>
				<a class="mdl-navigation__link" href="">Entertainment</a>
			</nav>
		</div>
	</div>
	<!-- main content goes here -->
	<main class="mdl-layout__content">
	<div class='page-content'>
		<div id="react-content"></div>
	</div>
	</main>
	<footer class="mdl-mini-footer">
		<div class="mdl-mini-footer__left-section">
			<div class="mdl-logo">Powered by Gourab</div>
			<ul class="mdl-mini-footer__link-list">
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy & Terms</a></li>
			</ul>
		</div>
	</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
	<script type="text/babel">
		var ArticleReadStatus = React.createClass({
			render: function(){
				if(this.props.read){
					return (
						<button className="mdl-button mdl-button--colored mdl-button--disabled mdl-js-button">
												Read
						</button>
					);
				}
				else {
					return(
						<button className="mdl-button mdl-button--colored mdl-js-button" onClick={this.props.onClick}>
												Read
						</button>
					);
				}
			}
		});
		var Article = React.createClass({
			setReadStatus: function(){
				this.setState({read:true});
			},
			getInitialState: function(){
				return {read:false}
			},
			render: function() {	
				return (
						<div className="mdl-grid">
							<div className="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">
								<div className="demo-card mdl-card mdl-shadow--6dp">
									<div className="mdl-card__title">
										<h2 className="mdl-card__title-text">{this.props.title}</h2>
									</div>
									<div className="mdl-card__supporting-text">
										{this.props.detail}
									</div>
									<div className="mdl-card__actions mdl-card--border">
										<a className="mdl-button mdl-button--accent">
											{this.props.question}
										</a><br/>
										
									</div>
									<div className="mdl-card__menu">	
										<ArticleReadStatus read={this.state.read} onClick={this.setReadStatus}/>&nbsp;&nbsp;
										<button className="mdl-button mdl-button--icon mdl-button--raised mdl-js-button mdl-js-ripple-effect">
											<i className="material-icons">share</i>
										</button>
									</div>
								</div>
							</div>	
						</div>
				);
			}
		});
		var NewsList = React.createClass({
			getInitialState: function(){
				return ({
							data:{
								newsList: 
									[
										{newsId: 1, title: "Title 1", detail: "Detail 1", question: "Do you agree?"},
										{newsId: 2, title: "Title 2", detail: "Detail 2", question: "Do you believe?"}
									]			
							}
						}
				);
			},
			render: function() {
				var list = this.state.data.newsList.map(function(article){
							return (<Article key={article.newsId} title={article.title} detail={article.detail} question={article.question}/>);
						}
					);
				return (<div>{list}</div>);
			}
		});
		ReactDOM.render(
			<NewsList/>,
			document.getElementById('react-content')
		);
	</script>
  </body>
</html>
